@import '../style.scss';

$screen-padding: 10px;
$screen-facet-vert: 10px;
$screen-facet-hor: 20px;
$screen-border-padding: 20px;
$screen-info-width: $digit-size * 5;
$screen-title-size: 24px;

$info-right-offset: $screen-padding + ($screen-info-width - $digit-size * 4) / 2;

$digit-margin: 2px;
$digit-border: 2px;
$digit-padding: 2px;

$board-border: 2px;
$board-width: $digit-size * 10;
$board-height: $digit-size * 20;

$segment-size: $digit-size / 1.5;
$segment-facet: 1px;
$segment-margin: 1px;

$score-width: $segment-size * 6;
$score-height: $segment-size * 2;


.screen {
  background: $color-screen;
  width: $board-width + $screen-info-width + $board-border * 2;
  padding: 10px;
  margin: 0 auto ($screen-border-padding * 3);
  position: relative;

  font-family: $font-screen;
  color: $color-active-digit;

  border-top: $screen-facet-vert solid darken($color-body-shadow, 2%);
  border-left: $screen-facet-hor solid $color-body-shadow;
  border-bottom: $screen-facet-vert solid lighten($color-body-light, 2%);
  border-right: $screen-facet-hor solid $color-body-light;

  box-shadow: inset 1px 1px 0 darken($color-body, 4%),
    inset -1px -1px 0 $color-body,
    0 0 2px lighten($color-body, 4%);

  .decor-left,
  .decor-right {
    position: absolute;
    top: -($screen-facet-vert + $screen-border-padding);
    color: $color-label;
    height: calc(100% + #{$screen-facet-vert * 2 + $screen-border-padding * 2});
    width: auto;
    margin: 0 ($screen-facet-hor * 2 + $screen-border-padding);
  }

  .decor-left {
    right: 100%;
  }

  .decor-right {
    left: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    top: -($screen-facet-vert + $screen-border-padding);
    bottom: -($screen-facet-vert + $screen-border-padding);
    left: -($screen-facet-hor + $screen-border-padding);
    right: -($screen-facet-hor + $screen-border-padding);
    border: 1px solid $color-accent;
  }

  &::after {
    content: 'play me';
    font-family: $font-controls;
    font-size: $screen-title-size;
    line-height: $screen-title-size;
    color: $color-label;
    background: $color-body;
    padding: 0 ($screen-border-padding / 2);

    position: absolute;
    top: -($screen-facet-vert + $screen-border-padding + 0.5 * $screen-title-size);
    left: 50%;
    transform: translateX(-50%);
  }
}

.matrix {
  > div {
    clear: both;
  }

  .digit {
    float: left;
    width: $digit-size - $digit-margin;
    height: $digit-size - $digit-margin;
    border: $digit-border solid $color-passive-digit;
    box-sizing: border-box;
    margin: $digit-margin / 2;
    padding: $digit-padding;
    //@TODO: brightness

    &::before {
      content: '';
      display: block;
      width: $digit-size - $digit-margin - $digit-border * 2 - $digit-padding * 2;
      height: $digit-size - $digit-margin - $digit-border * 2 - $digit-padding * 2;
      background: $color-passive-digit;
    }

    &.active {
      border-color: $color-active-digit;

      &::before {
        background: $color-active-digit;
      }
    }
  }

  &.board {
    border: $board-border solid $color-active-digit;

    width: $board-width;
    height: $board-height;
  }

  &.next {
    position: absolute;

    top: $digit-size * 3 + $board-border + $screen-padding;
    right: $info-right-offset;
  }
}

.number {
  .digit {
    float: left;
    width: $segment-size;
    height: $segment-size * 2;
    position: relative;
  }

  .segment0,
  .segment1,
  .segment2,
  .segment3,
  .segment4,
  .segment5,
  .segment6 {
    position: absolute;
    background: $color-passive-digit;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
    }

    &.active {
      background: $color-active-digit;
    }
  }

  $segment-real-inner-width: $segment-facet * 2;
  $segment-real-length-margin: $segment-facet + $segment-margin;
  $segment-real-width-margin: -$segment-facet;

  %vertical-segment {
    margin: $segment-real-length-margin $segment-real-width-margin;
    width: $segment-real-inner-width;
    height: $segment-size - ($segment-facet * 3 + $segment-margin * 3);

    &::before,
    &::after {
      left: 0;
      border-color: $color-passive-digit transparent;
    }

    &::before {
      top: -$segment-facet;
      border-width: 0 $segment-facet $segment-facet;
    }

    &::after {
      bottom: -$segment-facet;
      border-width: $segment-facet $segment-facet 0 $segment-facet;
    }

    &.active {
      &::before,
      &::after {
        border-color: $color-active-digit transparent;
      }
    }
  }

  %horizontal-segment {
    margin: $segment-real-width-margin $segment-real-length-margin;
    width: $segment-size - ($segment-facet + $segment-margin) * 4;
    height: $segment-real-inner-width;

    &::before,
    &::after {
      top: 0;
      border-color: transparent $color-passive-digit;
    }

    &::before {
      left: -$segment-facet;
      border-width: $segment-facet $segment-facet $segment-facet 0;
    }

    &::after {
      right: -$segment-facet;
      border-width: $segment-facet 0 $segment-facet $segment-facet;
    }

    &.active {
      &::before,
      &::after {
        border-color: transparent $color-active-digit;
      }
    }
  }

  %top-segment {
    // top: 0 + $segment-margin + $segment-facet + 1;
    top: $segment-margin + $segment-facet;
  }

  %middle-segment {
    top: $segment-size;
  }

  %bottom-segment {
    bottom: $segment-margin + $segment-facet;
  }

  %left-segment {
    left: $segment-margin + $segment-facet;
  }

  %right-segment {
    right: $segment-margin + $segment-facet;
  }

  .segment0 {
    @extend %horizontal-segment;
    @extend %top-segment;
    @extend %left-segment;
  }

  .segment1 {
    @extend %vertical-segment;
    @extend %top-segment;
    @extend %left-segment;
  }

  .segment2 {
    @extend %vertical-segment;
    @extend %top-segment;
    @extend %right-segment;
  }

  .segment3 {
    @extend %horizontal-segment;
    @extend %middle-segment;
    @extend %left-segment;
  }

  .segment4 {
    @extend %vertical-segment;
    @extend %bottom-segment;
    @extend %left-segment;
  }

  .segment5 {
    @extend %vertical-segment;
    @extend %bottom-segment;
    @extend %right-segment;
  }

  .segment6 {
    @extend %horizontal-segment;
    @extend %bottom-segment;
    @extend %left-segment;
  }

  &.score {
    position: absolute;

    top: $board-border + $screen-padding;
    right: $info-right-offset;

    width: $score-width;
    height: $score-height;
  }

  &.speed,
  &.level {
    position: absolute;
    right: $info-right-offset + $segment-size;

    &::before {
      position: absolute;
      left: -4 * $digit-size + 2.5 * $segment-size;

      font-size: 12px;
      line-height: $segment-size * 2;
      text-transform: uppercase;
    }
  }

  &.speed {
    top: $digit-size * 9 + $board-border + $screen-padding;

    &::before {
      content: 'speed';
    }
  }

  &.level {
    top: $digit-size * 11 + $board-border + $screen-padding;

    &::before {
      content: 'level';
    }
  }
}

.rotate-direction {
  position: absolute;
  right: $info-right-offset + $digit-size;
  top: $digit-size * 14 + $board-border + $screen-padding;

  .arrow {
    $arrow-radius: $digit-size;
    $arrow-weight: 2px;
    $arrow-wing: 4px;
    $arrow-wing-compensation: 0.25 * $arrow-weight;
    $sqrt2: 1.4142;

    position: relative;
    width: $sqrt2 * ($arrow-radius + $arrow-weight);
    height: $arrow-radius - $arrow-radius / $sqrt2 + $arrow-weight;
    overflow: hidden;
    margin-bottom: $digit-size / 2;

    &::before {
      content: '';
      position: absolute;
      left: ($arrow-radius + $arrow-weight) / $sqrt2 - $arrow-radius - $arrow-weight - $arrow-wing-compensation;
      width: $arrow-radius * 2;
      height: $arrow-radius * 2;
      border: $arrow-weight $color-passive-digit solid;
      border-radius: 1000px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;

      width: $arrow-wing;
      height: $arrow-wing;
      border-style: solid;
      border-width: $arrow-weight;
    }

    &.active::before {
      border-color: $color-active-digit;
    }
  }

  .ccw {
    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
      border-color: transparent transparent $color-passive-digit $color-passive-digit;
    }

    &.active::after {
      border-color: transparent transparent $color-active-digit $color-active-digit;
    }
  }

  .cw {
    &::before {
      bottom: 0;
    }

    &::after {
      top: 0;
      border-color: $color-passive-digit transparent transparent $color-passive-digit;
    }

    &.active::after {
      border-color: $color-active-digit transparent transparent $color-active-digit;
    }
  }
}
