@import 'style.scss';

.app {
  background: $color-body;
  width: $digit-size * 30;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-top: 1px;

  $edge-gradient: darken($color-body, 75%) 0%, darken($color-body, 60%) 20%, darken($color-body, 5%) 80%, $color-body 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: $digit-size * 2;
    height: 100%;
    top: 0;
  }

  &::before {
    right: 100%;
    background: linear-gradient(to right, $edge-gradient);
  }

  &::after {
    left: 100%;
    background: linear-gradient(to left, $edge-gradient);
  }
}
