$color-bgr: #272822;
$color-body: #DCDCDC;
$color-body-shadow: darken($color-body, 8%);
$color-body-light: lighten($color-body, 4%);
$color-button: #FAE501;
$color-label: #2E3F50;
$color-accent: #934545;

$color-screen: #BEC3B5;
$color-passive-digit: #A3A39A;
$color-active-digit: #313131;

$digit-size: 20px;

$font-controls: Arial, Helvetica, sans-serif; //@TODO
$font-screen: "Lucida Console", Monaco, monospace; //@TODO
